* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 5px;
    width: 100%;
    // background-color: yellowgreen;
}

.filter-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    gap: 10px;
    white-space: nowrap;

    .filter {
        display: flex;
        flex-direction: column;
        gap: 10px;

        select {
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
        }
    }
}

.table-container {
    width: 100%;
    // table-layout: fixed;
    overflow: auto;

    .main-table {
        width: 100%;
        white-space: nowrap;

        td {
            padding: 3px;
            width: 25%;
            min-width: 400px;
            max-width: 450px;
        }

        .sticky-header {
            position: sticky;
            left: 0;
            z-index: 100;
            background-color: #fff;
            // table-layout: fixed;
            // width: 33%;
            // max-width: 460px;
            display: block;
            padding: 3px;
            width: 450px;
            max-width: 450px;
            min-width: 400px;

        }

        .table-header {
            padding: 3px;
            box-sizing: border-box;
            width: 450px;
            max-width: 450px;
            min-width: 400px;
        }




        .inner-table {
            width: 100%;

            th,
            td {
                width: 33%;
                padding: 5px;
            }
        }
    }
}







.headerHighlight {
    background-color: rgb(209, 209, 61);
}

.blueHeader {
    background-color: skyblue;
}

.lightGreenHeader {
    background-color: lightgreen;
}


table {
    border-collapse: collapse;
}


.export {
    margin-left: auto;
}


button {
    background-color: #18b7f7;
    border: none;
    padding: 10px;
    color: white;
}

.btn {
    border-radius: 50%;
    padding: 4px;
    height: 30px;
    width: 30px;
    background-color: rgb(141, 138, 138);
    color: white;
    border: none;
}

.active-Toggle {
    background-color: rgb(123, 192, 248);
}