* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: 'none';
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}


.filter-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    gap: 10px;
    white-space: nowrap;
    background-color: #f4f6f8;
    padding: 20px;


    .filter {
        display: flex;
        flex-direction: column;
        gap: 10px;


    }

    button {
        background-color: #0076ba;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        color: white;
    }

    .btn-group {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        .btn {
            border-radius: 50%;
            padding: 4px;
            height: 30px;
            width: 30px;
            background-color: #fff;
            color: #0076ba;
            font-size: 22px;
            border: none;
        }

        .active-toggle {
            background-color: #7bc0f8;
            color: #fff;
        }
    }
}

.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-bottom: 58px;


    .main-table {
        border-collapse: collapse;
        table-layout: fixed;
        transform: translateZ(0);

        thead {
            display: table-header-group;
        }

        .summary-row {
            background-color: #fcfaf3;

            .summary-cell {
                background-color: #fcfaf3;
            }
        }

        .country-cell {
            text-align: center;
        }


        .main-table-header,
        .table-body {
            position: relative;
        }

        .header-row,
        .summary-row,
        .data-group-row {
            position: relative;

            .summary-cell,
            .group-cell,
            .table-header {
                position: -webkit-sticky;
                position: sticky;
                left: 0;
                z-index: 20;
                padding: 3px;
                width: 450px;
                max-width: 450px;
                min-width: 400px;
                background-color: #fff;

                td {
                    width: 33%;
                }
            }

            .summary-cell {
                background-color: #fcfaf3;
            }

            .date-row {
                th {
                    font-weight: bold;
                }

            }
        }

        .header-row {
            z-index: 30;
        }

        .summary-date-cell {
            text-align: right;
        }

        .main-table-header {
            width: 100%;

            .date-header {
                text-align: center;
                width: 450px;
                max-width: 450px;
                min-width: 400px;
                padding: 3px;
            }

            .column-header {
                th {
                    font-weight: bold;
                }
            }
        }

        .table-body {
            tr {
                td {
                    padding: 3px;

                    .inner-table {
                        td {
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }


    table {
        border-collapse: collapse;
    }

    .inner-table {
        width: 100%;
        white-space: nowrap;
        border: 1px solid black;

        th {
            font-weight: 500;

        }

        td,
        th {
            padding: 8px;
            width: 20%;
            min-width: 130px;
        }
    }


    // Highlighter
    .sub-header {
        background-color: #0076ba;
        color: #fff;
    }

    .blue-header {
        background-color: #92b9fc;
        font-weight: 600;
    }

    .delta-header {
        background-color: #013f62;
    }

    .lightGreenHeader {
        background-color: #d0f9c5;
        font-weight: 600;
    }

    .filter-row {
        background-color: #f9f98b;
    }
}




// tooltip
.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;

    .bottom {
        width: 150px;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 20px;
        color: #fff;
        background-color: #000000c7;
        font-weight: normal;
        font-size: 13px;
        border-radius: 8px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        display: none;


        li {
            margin-left: 10px;
        }

        i {
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -12px;
            width: 24px;
            height: 12px;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                left: 50%;
                transform: translate(-50%, 50%) rotate(45deg);
                background-color: #000000c7;
            }
        }
    }

    &:hover {
        .bottom {
            display: block;
        }
    }
}


.select {
    padding: 6px;
    border: 1px solid #ccc;
    color: #121212;
    width: 150px;
    background-color: #fff;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: 'none';
    -moz-appearance: 'none';

    &:active {
        border: 1px solid #ccc;
    }
}