$primary-bg-color: #564f4f;
$secondary-bg-color: #262424;
$primary-box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
$primary-text-color: #ccc;
$secondary-text-color: #121212;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: $primary-text-color;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}

.table-container {

  overflow: auto;

  .toggle-expand-collapse {
    padding: 5px 10px;
    color: $primary-text-color;
    background-color: $primary-bg-color;
    border: 1px solid $primary-bg-color;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    border: 1px solid $primary-text-color;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $secondary-bg-color;
      color: $primary-text-color;
    }

    &:active {
      background-color: darken($primary-bg-color, 10%);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
    }
  }


}

.metrics-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid $primary-bg-color;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
  }

  th {
    background-color: $primary-bg-color;
    border: 1px solid gray;
    font-size: 16px;


  }

  .expand-Column {
    display: inline-block;
    white-space: nowrap;
  }

  tbody {
    tr:hover {
      background-color: $secondary-bg-color;
    }
  }
}



.expand-button,
.modal-button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  color: $primary-text-color;

  &:hover {
    background-color: #e6e6e6;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 90%;
  background-color: $secondary-bg-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $primary-box-shadow;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    color: $primary-text-color;
    text-align: center;
    font-size: 1.5rem;
  }
}

.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .step {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    color: $primary-text-color;

    &.active {
      border-bottom: 2px solid #fff;
    }
  }
}

.configure-step {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .metric-container {
    display: flex;
    gap: 20px;
    height: 100%;
    max-height: 400px;

    .right-metric,
    .left-metric {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .field {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
          font-size: 0.9rem;
          color: $primary-text-color; // #ccc;
        }

        input,
        select {
          background-color: transparent;
          padding: 10px;
          border: 1px solid $primary-bg-color; // #564f4f;
          border-radius: 8px;
          color: $primary-text-color; // #ccc;
          outline: none;

          option {
            background-color: $primary-bg-color; // #564f4f;
          }
        }
      }
    }

    .right-metric {
      width: 30%;
    }

    .left-metric {
      width: 70%;
      flex-direction: row;
      flex-wrap: wrap;


      .field {
        flex: 1 1 30%;
      }
    }


  }
}

.multi-select-dropdown {
  position: relative;

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-bg-color; // #564f4f
    padding: 10px;
    border: 1px solid $primary-bg-color; // #564f4f
    border-radius: 8px;
    color: $primary-text-color; // #ccc
    cursor: pointer;

    .dropdown-arrow {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      transition: transform 0.3s ease;

      // Rotate arrow when dropdown is open
      &.open {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: lighten($primary-bg-color, 5%);
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: $secondary-bg-color; // #262424
    border: 1px solid $primary-bg-color; // #564f4f
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 6px;
      font-size: 0.9rem;
      color: $primary-text-color; // #ccc
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-bg-color; // #564f4f
      }

      input[type="checkbox"] {
        margin-right: 10px;
        accent-color: $primary-bg-color; // #564f4f
        transform: scale(1.2);
      }
    }
  }

  // Hide dropdown menu when not open
  .dropdown-menu.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
}

.preview-step {
  display: flex;
  flex-direction: column;
  gap: 20px;


  h3 {
    color: $primary-text-color;
  }


  .preview-step-table {
    padding: 5px;
    max-height: 400px;
    overflow: auto;
  }

}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;

    &.cancel-button {
      background-color: red;
      color: white;
    }

    &.back-button {
      background-color: $primary-bg-color;
      color: $primary-text-color;
    }

    &.next-button {
      background-color: green;
      color: white;
    }
  }
}


// Geo- selector
.geo-selector {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: $secondary-bg-color;
  border-radius: 8px;

  .geo-column {
    height: 350px;
    min-width: 200px;
    min-height: 250px;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
    }

    div {
      margin-bottom: 8px;

      input[type="checkbox"] {
        margin-right: 8px;
        accent-color: #0073e6;
        transform: scale(1.2);
        cursor: pointer;
      }

      label {
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

  .geo-column:last-child {
    flex: 1;
    text-align: left;

    p {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: bold;
      color: #0073e6;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .geo-column {
      flex: 1 1 100%;
    }
  }
}

// Dropdown
.dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: 1rem;

  .dropdown-toggle {
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 200px;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    label {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
      color: #121212;

      input {
        margin-right: 0.5rem;
      }
    }

    div {
      font-size: 0.85rem;
    }
  }
}


// Cancel confirmation popup
.cancel-confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  width: 400px;
  background-color: $secondary-bg-color; // #262424
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  p {
    color: $primary-text-color; // #ccc
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .confirmation-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

    button {
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-size: 1rem;

      &.confirm-button {
        background-color: green;
        color: white;
      }

      &.cancel-button {
        background-color: red;
        color: white;
      }
    }
  }
}

// Overlay for cancel popup
.cancel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1090;
}
